{% comment %} <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulario de YouTube</title>
</head>
<body>
    <h1>Formulario de YouTube</h1>
    <form method="get" action="{% url 'OSCAPI:obtener_datos_youtube' %}">
        <label for="link">Ingresa el link de YouTube:</label>
        <input type="text" name="link" id="link" required>
        <br>
        <button type="submit">Consultar</button>
    </form>
</body>
</html> {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulario de YouTube</title>
    <!-- Enlazar los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Formulario de YouTube</h1>
        <form method="get" action="{% url 'OSCAPI:obtener_datos_youtube' %}" class="form-inline my-4">
            <div class="form-group mr-2">
                <label for="link" class="mr-2">Ingresa el link de YouTube:</label>
                <input type="text" name="link" id="link" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-danger">Consultar</button>
        </form>
    </div>
    <!-- Enlazar los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

